@import "./reset.css";
@import "./water_dark.css";

main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mouse-tacker{
    position: fixed;
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

button{
    z-index: 1;
}