@import "./reset.css";
@import "./water.css";

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin-top: 5px;
}

body{
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.grid-resposive{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

main{
    width: 100%;
    max-width: 100%;
}

.product-item{
    border: 1px black solid;
    height: auto;
    padding-bottom: 5px;
    background-color: #202020;
}

.product-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-item h3, .product-item p{
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filters-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 50px
}

.filters-container span{
    margin-bottom: 5px;
    display: block;
}

.main-container{
    display: flex;
    width: 100vw;
}

.sidebar-right{
    width: 400px;
    border-left: 2px black solid;
    background-color: rgb(15, 5, 70);
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
}



.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    padding: 20px;
    
}

.cart{
    position: relative,
}

.bottom-position{
    position: absolute;
    bottom: 0;
    border-top: 2px black solid;
    width: 100%; 
    padding: 15px;
    background-color: black;
}

.main-cart{
    padding: 0px 15px;
}